<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.datao.bigidea.mapper.NoteMapper">

    <cache flushInterval="300000"/>

    <!--查询博客分类列表-->
    <select id="queryTypes" resultType="java.util.HashMap">
        SELECT `type`, count(1) num from spider_blog GROUP BY `type`
    </select>

    <!--根据ID查询博客-->
    <select id="queryByID" resultType="com.datao.bigidea.entity.Note">
        SELECT * FROM spider_blog where id = #{id}
    </select>

    <!--根据Type类型查询文章-->
    <select id="queryByType" resultType="com.datao.bigidea.entity.Note">
        SELECT id, title, createTime, LEFT(content,100) content, type FROM spider_blog WHERE type = #{type}
    </select>

    <!--查询文章列表-->
    <select id="queryNoteList" resultType="com.datao.bigidea.entity.Note">
        SELECT
        	id,
        	title,
        	createTime,
        	LEFT(content,100) content,
        	type
        FROM
        	spider_blog
        <if test="keyWords != null and keyWords !=''">
          WHERE  title like "%"#{keyWords}"%"
        </if>
        ORDER BY
        	createTime DESC
    </select>

</mapper>